---
import type { CollectionEntry } from "astro:content";

import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, tags } = Astro.props;
---

<Layout title={title} description={description}>
	<main class="w-full max-w-screen-md mx-auto flex flex-col my-12">
		<header class="flex flex-col gap-4 items-center">
			<h1 class="text-2xl font-bold tracking-wide">{title}</h1>
			<p class="text-sm">
				Published on <span class="font-medium"
					>{pubDate.toDateString()}</span
				>
			</p>

			<div class="flex flex-row gap-1 flex-wrap">
				{
					tags &&
						tags.map((tag) => (
							<a
								href={`/blog/tags/${tag}`}
								class="badge badge-neutral hover:transform hover:border-black"
							>
								{tag}
							</a>
						))
				}
			</div>
		</header>

		<article
			class="mt-12 max-w-none prose dark:prose-invert
		prose-h1:font-bold prose-h1:text-xl prose-lg
		prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-img:mx-auto prose-img:border prose-img:p-4"
		>
			<slot />
		</article>
	</main>
</Layout>
